---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

<h2 style="font-size: 1.5em; border-bottom: 2px solid #ccc; padding-bottom: 4px; margin-top: 2em;">Invited Talks and Workshops</h2>
{% for post in site.talks reversed %}
  {% if post.category == "invited" %}
    {% include archive-single-talk.html %}
  {% endif %}
{% endfor %}

<h2 style="font-size: 1.5em; border-bottom: 2px solid #ccc; padding-bottom: 4px; margin-top: 2em;">Other Presentations and Posters</h2>
{% for post in site.talks reversed %}
  {% unless post.category == "invited" %}
    {% include archive-single-talk.html %}
  {% endunless %}
{% endfor %}
